# Copyright (c) 2023 Golioth, Inc.
# SPDX-License-Identifier: Apache-2.0

name: Build Zephyr binaries

on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      ARTIFACT:
        required: false
        type: boolean
        default: false
      TAG:
        type: string

  workflow_call:
    inputs:
      ARTIFACT:
        required: false
        type: boolean
        default: false
      TAG:
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    container: ghcr.io/nicopowers/zephyr-riscv:1

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: app

      - name: Setup West workspace
        run: |
          west init -l app
          west update --narrow -o=--depth=1
          west blobs fetch hal_espressif
          west zephyr-export
          west packages pip --install

      - name: Build with West
        run: |
          west build -p always --sysbuild app

      - name: Prepare artifacts
        shell: bash
        if: inputs.ARTIFACT == true && inputs.TAG != ''
        run: |
          cd build
          mkdir -p artifacts
          # Copy MCUboot bootloader
          cp mcuboot/zephyr/zephyr.bin ./artifacts/${{ github.event.repository.name }}_${{ inputs.TAG }}_mcuboot.bin
          # Copy signed application
          cp app/zephyr/zephyr.signed.bin ./artifacts/${{ github.event.repository.name }}_${{ inputs.TAG }}_app_update.bin
          # Copy ELF for debugging
          cp app/zephyr/zephyr.elf ./artifacts/${{ github.event.repository.name }}_${{ inputs.TAG }}_app.elf

      # Run IDs are unique per repo but are reused on re-runs
      - name: Save artifact
        if: inputs.ARTIFACT == true
        uses: actions/upload-artifact@v4
        with:
          name: build_artifacts_${{ github.run_id }}
          path: |
            build/artifacts/*
